body {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  margin-left: 100px;
}

.hr {
  border-bottom: solid 1px;
  width: fit-content;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  row-gap: 10px;
}

.grid {
  border: thick double;
  padding: 5px;
  width: fit-content;
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 5px;
}

.dynamic {
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
}

.media-grid .media-container {
  border: 4px double;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 763px;
  overflow: scroll;
}

.align-self-center {
  align-self: center;
}

::-webkit-scrollbar {
  display: none;
}

.media-container .title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0px;
  /* overflow-x: scroll; */
}

.media-container a {
  height: 100%;
}

.media-container img {
  width: 100%;
}

.peek {
  position: absolute;
  height: 100px;
  width: auto;
}
