.media-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.media-grid .media-container {
  border: thick double #32a1ce;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 763px;
  overflow: scroll;
}

.media-grid .media-container::-webkit-scrollbar {
  display: none;
}

.media-container .title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5px 0px;
}

.media-container a {
  height: 100%;
}

.media-container img {
  width: 100%;
}
