<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/assets/css/image_gallery.css" />
  </head>
  <body>
    <h1>Image Gallery</h1>
    <div class="image-container">
      {% for image_file in image_files %}
      <div class="image">
        <a href="{{url_for('serve_image', filename=image_file)}}" download>
          <img src="{{ url_for('serve_image', filename=image_file) }}" />
        </a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
