<!DOCTYPE html>
<html>
  <head>
    <title>Image Gallery</title>
    <link rel="stylesheet" href="/static/css/image_gallery.css" />
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const images = document.querySelectorAll('img');
        images.forEach(function (image) {
          image.addEventListener('contextmenu', (e) => {
            const canvas = document.createElement('canvas');
            const ctx = canvas.getContext('2d');
            canvas.width = image.width;
            canvas.height = image.height;
            ctx.drawImage(image, 0, 0);
            canvas.toBlob((b) => {
              const item = new ClipboardItem({ 'image/png': b });
              navigator.clipboard.write([item]);
            }, 'image/png');
            e.preventDefault();
          });
        });
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        let alignSelf = document.getElementById('align-self');
        let mediaGrid = document.getElementsByClassName('media-grid')[0];
        let mediaContainer = document.getElementsByClassName('media-container');
        alignSelf.addEventListener('input', () => {
          if (alignSelf.checked) {
            for (let container of mediaContainer) {
              container.classList.add('align-self-center');
            }
          } else {
            for (let container of mediaContainer) {
              container.classList.remove('align-self-center');
            }
          }
        });
      });
    </script>
    <script>
      const addCSS = (css) =>
        (document.head.appendChild(document.createElement('style')).innerHTML =
          css);
      document.addEventListener('DOMContentLoaded', () => {
        let mediaGrid = document.getElementsByClassName('media-grid')[0];
        let mediaContainer = document.getElementsByClassName('media-container');
        let peek = document.getElementById('peek');
        let autoPeek = document.getElementById('auto-peek');
        let slider = document.getElementById('slider');
        let counter = document.getElementById('counter');
        let checkbox = document.getElementById('checkbox');
        let forcestop = false;
        const getWidth = () => {
          return Math.max(
            document.body.scrollWidth,
            document.documentElement.scrollWidth,
            document.body.offsetWidth,
            document.documentElement.offsetWidth,
            document.documentElement.clientWidth
          );
        };
        const getHeight = () => {
          return Math.max(
            document.body.scrollHeight,
            document.documentElement.scrollHeight,
            document.body.offsetHeight,
            document.documentElement.offsetHeight,
            document.documentElement.clientHeight
          );
        };
        const update = () => {
          mediaGrid.style.gridTemplateColumns = `repeat(${slider.value},1fr)`;
          for (let container of mediaContainer) {
            container.style.maxHeight = `${
              (763 * 2) / (parseInt(counter.value) - 2)
            }px`;
            if (slider.value >= 7 && autoPeek.checked) {
              hoverPeek();
              peek.checked = true;
            } else {
              forcestop = true;
              forcestop = false;
              peek.checked = false;
            }
          }
        };
        const handleCheckbox = () => {
          if (checkbox.checked) {
            slider.disabled = 'disabled';
            counter.disabled = 'disabled';
            mediaGrid.style.gridTemplateColumns = '';
            for (let container of mediaContainer) {
              container.style.maxHeight = '';
            }
            mediaGrid.classList.add('dynamic');
          } else {
            slider.removeAttribute('disabled');
            counter.removeAttribute('disabled');
            update();
            mediaGrid.classList.remove('dynamic');
          }
        };
        const hoverPeek = () => {
          let copy = document.createElement('img');
          copy.classList.add('peek');
          document.onmousemove = (e) => {
            mouser = document.elementFromPoint(e.clientX, e.clientY);
            if (mouser.nodeName == 'IMG' && !forcestop) {
              if (document.getElementsByClassName('peek').length == 0)
                document.body.insertBefore(copy, document.body.firstChild);
              copy.src = mouser.src;
              let overHalfX = getWidth() / 2 > e.pageX ? 0 : -1;
              let overHalfY = getHeight() / 2 > e.pageY ? 1 : -1;
              copy.style.top =
                e.pageY -
                copy.height / 2 +
                (overHalfY * copy.height) / 2 +
                'px';
              copy.style.left =
                e.pageX +
                overHalfX * copy.width +
                (overHalfX == 0 ? 15 : -15) +
                'px';
            } else {
              copy.remove();
            }
          };
        };
        const handleState = () => {
          if (peek.checked) {
            hoverPeek();
          } else {
            document.onmousemove = () => {};
          }
        };
        handleCheckbox();
        checkbox.addEventListener('input', handleCheckbox);
        slider.addEventListener('input', () => {
          counter.value = slider.value;
          update();
        });
        counter.addEventListener('input', () => {
          slider.value = counter.value;
          update();
        });
        handleState();
        peek.addEventListener('input', handleState);
      });
    </script>
  </head>
  <body>
    <h1>Image Gallery(left click to download, right to copy, scrollable)</h1>
    <div class="row">
      <div class="grid">
        <h3 class="hr">Grid:</h3>
        dynamic:<input id="checkbox" type="checkbox" checked />
        <br />
        <input id="slider" type="range" min="1" max="20" value="3" />
        <input id="counter" type="number" min="1" max="20" value="3" />
      </div>
      <div class="grid">
        <h3 class="hr">Align-self:</h3>
        .media-grid .media-container:<input id="align-self" type="checkbox" />
        <br />
      </div>
      <div class="grid">
        <h3 class="hr">Hover Peek:</h3>
        Auto State:<input id="auto-peek" type="checkbox" checked /> <br />
        State:<input id="peek" type="checkbox" />
        <br />
      </div>
    </div>
    <div class="media-grid">
      {% for (image,type) in images %} {%if type in 'gifjpgjpegwebp' %}
      <div class="media-container">
        <div class="title">{{image}}</div>
        <a
          href="{{url_for('serve_image', filename=image)}}"
          onclick="e.preventDefault()"
          download
        >
          <img src="{{ url_for('serve_image', filename=image) }}" />
        </a>
      </div>
      {%endif%} {% endfor %}
    </div>
  </body>
</html>
