<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>gallery</title>
    <style>
      ::-webkit-scrollbar {
        display: none;
      }
    </style>
  </head>
  <body>
    <pre>
parked. navigate to /gallery and password is to be submitted through url. _____.net/gallery?password=_____</pre
    >
    <div style="height: 4000px"></div>
    <pre style="color: white">pjoqfjopehnklewjjop56348890</pre>
  </body>
</html>
